.share{ background:#ededed; padding:5px; width:794px; border-radius:5px; border:1px solid #ddd; }
.share-label, .share-button{ display:inline; float:left; margin-right:10px; }
.share-label{ margin-top:3px; margin-left:5px; }
.tweet{ margin-top:2px; }
.nav{ clear:both; }
.panel{ background: #ededed; border-bottom:1px solid #ddd; }